:root {
  // --background-color: #fefefe;
  // --main-text-color: #333333;
  --color-white: #fefefe;

  --color-main: #2f80ed;
  --color-main-lighter5: #468eef;
  --color-main-lighter10: #5e9df1;

  --color-gray: #bdbdbd;
  --color-gray-darker5: #b0b0b0;
  --color-gray-darker10: #a4a4a4;

  --color-red: #eb5757;
  --color-red-lighter5: #ee6e6e;
  --color-red-lighter10: #f08585;

  // Utilities
  --transition-time: 0.2s;
}