:root,
:root.light {
  --background-color: #fefefe;
  --main-text-color: #333333;
  --color-white: #fefefe;
  
  --color-main: #2f80ed;
  --color-main-hover: #468eef;
  --color-main-active: #5e9df1;
  --color-main-shadow-op40: #105bbc66;

  --color-gray: #bdbdbd;
  --color-gray-hover: #b0b0b0;
  --color-gray-active: #a4a4a4;

  --color-red: #eb5757;
  --color-red-hover: #ee6e6e;
  --color-red-active: #f08585;
  --color-red-shadow-op40: #b7151566;

  // Utilities
  --transition-time: 0.2s;
}

:root.dark {
  --background-color: #333333;
  --main-text-color: #fefefe;
  --color-white: #fefefe;

  --color-main: #487cc0;
  --color-main-hover: #5887c6;
  --color-main-active: #6f98ce;
  --color-main-shadow-op40: hsla(214, 49%, 30%, 0.4);

  --color-gray: #757575;
  --color-gray-hover: #696969;
  --color-gray-active: #5c5c5c;

  --color-red: #a43c3c;
  --color-red-hover: #b64343;
  --color-red-active: #c05454;
  --color-red-shadow-op40: hsl(0, 46%, 30%, 0.4);

  // Utilities
  --transition-time: 0.2s;
}