@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('/src/assets/fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat-Medium.woff2') format('woff2'), url('/src/assets/fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/src/assets/fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('/src/assets/fonts/Raleway-Bold.woff2') format('woff2'), url('/src/assets/fonts/Raleway-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}