*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--main-text-color);
  transition: color var(--transition-time), background-color var(--transition-time);
}

main {
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: relative;
}