.btn{
  background-color: $color-main;
  color: $background-color;
  outline: none;
  border-radius: 6px;
  border: 1px solid $color-main;
  width: fit-content;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  // box-shadow: 0px 2px 6px rgba(243, 127, 127, 0.4);
  padding: 12px;
  font-weight: 500;
  align-self: flex-end;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($color-main, 5%);
    border-color: lighten($color-main, 5%);
  }

  &:active {
    background-color: lighten($color-main, 10%);
    border-color: lighten($color-main, 10%);
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 4px;

    svg {
      width: 16px;
      height: 16px;
      fill: $color-white;
    }
  }  

  &-red {
    background-color: $color-red;
    border-color: $color-red;

    &:hover {
      background-color: lighten($color-red, 5%);
      border-color: lighten($color-red, 5%);
    }
  
    &:active {
      background-color: lighten($color-red, 10%);
      border-color: lighten($color-red, 10%);
    }
  }

  &-trash {
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0;
    margin-bottom: -4px;
    box-shadow: none;
    margin-left: auto;
    color: $color-gray;

    svg {
      width: 23px;
      height: 23px;
      fill: $color-gray;
    }
  
    &:hover {
      background-color: transparent;

      svg {
        fill: darken($color-gray, 5%);
      }
    }
  
    &:active {
      background-color: transparent;

      svg {
        fill: darken($color-gray, 10%);
      }
    }
  }
}


//Theme button 

.theme-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .theme-icon-light {
    width: 35px;
    fill: $color-gray;
    stroke-width: 2px;

    &-active {
      fill: $color-main;
    }
  }

  .theme-icon-dark {
    width: 35px;
    height: 30px;
    fill: $color-gray;

    &-active {
      fill: $color-main;
    }
  }

  .theme-switch {
    margin: 0 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
    }


    .theme-slider {
      cursor: pointer;
      text-indent: -9999px;
      width: 40px;
      height: 20px;
      background: $color-gray;
      display: block;
      border-radius: 20px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background: $background-color;
        border-radius: 90px;
        transition: 0.3s;
      }
    }

    input[type=checkbox]:checked + .theme-slider {
      background: $color-main;
    }
    
    input[type=checkbox]:checked + .theme-slider:before {
      left: calc(100% - 3px);
      transform: translate(-100%, -50%)
    }    
    
  }
  
}