@import './fonts.css';

:root {
  --color-white: #fdfdfd;
  --color-black: #333333;
  --color-gray: #BDBDBD;
  --color-gray-l1: #b3b3b3;
  --color-gray-l2: rgb(179, 179, 179);
  --color-main: #2F80ED;
  --color-main-l1: #448be9;
  --color-main-l2: #629de9;
  --color-red: #EB5757;
  --color-red-l1: #ee6969;
  --color-red-l2: #f27b7b;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;;
  font-weight: 400;
}

h1, .h1 {
  font-family: 'Raleway', sans-serif;;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.045rem;
  line-height: 42px;
}

p {
  margin: 0;
}

main {
  max-width: 608px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type='text'], .input {
  outline: none;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--color-gray);
  width: 100%;
}

input[type='text']:focus, .input:focus {
  outline: 1px solid var(--color-black)
}

input[type*='submit'] {
  background-color: var(--color-main);
  color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-main);
  width: fit-content;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  padding: 15px 40px;
  cursor: pointer;
}

input[type*='submit']:focus {
  outline: none;
}

input[type*='submit']:hover {
  background-color: var(--color-main-l1);
}

input[type*='submit']:active {
  background-color: var(--color-main-l2);
}


.menu {
  padding: 0 50px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 110px;
  border-bottom: 1px solid var(--color-gray);
}

.menu-item {
  flex: 1;
  text-align: center;
  padding: 15px 0 0;
  font-size: 14px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 17px;
  cursor: pointer;
}

.menu-item-border {
  height: 4px;
  width: 100%;
  margin-top: 15px;
  background-color: transparent;
  border-radius: 4px 4px 0px 0px;
}

.menu-item.active .menu-item-border {
  background-color: var(--color-main);
}

.form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task-group {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task {
  display: flex;
  flex-direction:  row;
  justify-content: flex-start;
  width: 100%;
  gap: 4px;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-black);
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 0;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
  cursor: pointer;
}

input[type='checkbox']:checked {
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
}

input[type=checkbox]:checked:after {
  content:"\2713";
  font-size: 12px;
  color: white;
  position: absolute;
  top: 0px;
  left: 5px;
  font-weight: bold;
  margin: auto;
}

input[type='checkbox']:checked ~ p{
  font-weight: 500;
  text-decoration: line-through;
}

button {
  background-color: var(--color-red);
  color: var(--color-white);
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--color-red);
  width: fit-content;
  box-shadow: 0px 2px 6px rgba(243, 127, 127, 0.4);
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 0;
  gap: 4px;
  font-weight: 500;
  align-self: flex-end;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-red-l1);
}

button:active {
  background-color: var(--color-red-l2);
}

button.delete {
  background: none;
  padding: 0;
  border: none;
  border-radius: none;
  margin: 0;
  box-shadow: none;
  margin-left: auto;
  color: var(--color-gray);
}

button.delete:hover {
  color: var(--color-gray-l1);
}

button.delete:active {
  color: var(--color-gray-l2);
}